body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: Avenir, Helvetica, Lucida Grande, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.dh-interstitial {
  height: 40%;
  background: none;
}
.dh-contact-div {
  margin-bottom: 0;
}
.dh-list li {
  font-size: 21px;
  font-weight: 200;
}
ul > li {
  list-style-type: circle;
}
.dh-top-div {
  padding-top: 96px;
}
.dh-graph {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
/* Styles for background graph */
.node-vis-0 {
  fill: #c5d2db;
  stroke: #3e6b85;
  stroke-width: 2px;
}
.link-vis-0 {
  stroke: #c5d2db;
}
/* styles for visualization two */
.node--source {
  fill: #f4921e !important;
}
.node--target {
  fill: #f4921e !important;
}
.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}
.link--source {
  stroke: #f4921e !important;
}
.link--target {
  stroke: #f4921e !important;
}
.link {
  stroke: #3e6b85;
  stroke-opacity: .4;
  fill: none;
}
text {
  color: #3e6b85;
}
#vis-logo {
  width: 200px;
  height: 200px;
  float: right;
}
#vis-one {
  float: left;
}
#vis-two {
  height: 150px;
  padding: 0;
}
#vis-three {
  float: right;
}
body {
  background-color: #3e6b85;
}
#datahack .navbar-default .navbar-nav > .active > a {
  background-color: #f4921e;
  color: #ffffff;
}
#datahack a {
  color: #f4921e;
}
#datahack .navbar .navbar-nav > li > a {
  color: #ffffff;
}
#datahack .navbar-default {
  background-color: #3e6b85;
  border-color: #858585;
  color: #ffffff;
}
#datahack .navbar-brand,
#datahack .navbar-text {
  color: #ffffff;
}
#datahack .jumbotron {
  background-color: rgba(197, 210, 219, 0.9);
}
#datahack h3,
#datahack h2 {
  color: #3e6b85;
}
li::marker {
  color: #3e6b85;
}
