body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: Avenir, Helvetica, Lucida Grande, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.dh-hidden-div {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.dh-hidden-button {
  visibility: hidden;
  width: 20px;
  height: 20px;
  color: #f4921e;
}
.dh-margin-bottom {
  margin-bottom: 1em;
}
.dh-interstitial {
  height: 40%;
  background: none;
}
.dh-contact-div {
  margin-bottom: 0;
}
.dh-list li,
.dh-list dd {
  font-size: 21px;
  font-weight: 200;
}
.dh-list dt {
  font-weight: 500;
  margin-top: 1em;
  font-size: 21px;
  color: #3e6b85;
}
#datahack label {
  font-size: 21px;
  font-weight: 500;
  color: #3e6b85;
}
ul > li {
  list-style-type: circle;
}
.dh-top-div {
  padding-top: 96px;
}
.dh-graph {
  background: url(../images/background.png) repeat;
  position: fixed;
  min-width: 2692px;
  min-height: 1140px;
  /*
  min-width: 673px;
  min-height: 285px;
  */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*margin: -600px;*/
  z-index: -1;
}
/* Styles for background graph */
.node-vis-0 {
  fill: #c5d2db;
  stroke: #3e6b85;
  stroke-width: 2px;
}
.link-vis-0 {
  stroke: #c5d2db;
}
/* styles for visualization two */
.node--source {
  fill: #f4921e !important;
}
.node--target {
  fill: #f4921e !important;
}
.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}
.link--source {
  stroke: #f4921e !important;
}
.link--target {
  stroke: #f4921e !important;
}
.link {
  stroke: #3e6b85;
  stroke-opacity: .4;
  fill: none;
}
text {
  color: #3e6b85;
}
#vis-logo {
  width: 200px;
  height: 200px;
  float: right;
}
#vis-one {
  float: left;
  margin-right: 3em;
  margin-bottom: 3em;
}
#vis-two {
  height: 150px;
  padding: 0;
}
body {
  background-color: #3e6b85;
}
#datahack .navbar-default .navbar-nav > .active > a {
  background-color: #f4921e;
  color: #ffffff;
}
#datahack a {
  color: #f4921e;
}
#datahack .navbar .navbar-nav > li > a {
  color: #ffffff;
}
#datahack .navbar-default {
  background-color: #3e6b85;
  border-color: #858585;
  color: #ffffff;
}
#datahack .navbar-brand,
#datahack .navbar-text {
  color: #ffffff;
}
#datahack .jumbotron {
  background-color: rgba(197, 210, 219, 0.9);
}
#datahack h1,
#datahack h2,
#datahack h3 {
  color: #3e6b85;
}
#datahack h1 > small {
  color: #f4921e;
}
li::marker {
  color: #3e6b85;
}
#datahack .dh-yale {
  font-family: YaleNew, yale, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 17px;
  font-weight: 500;
  color: #3e6b85;
}
#datahack a.dh-yale {
  color: #3e6b85;
}
#datahack .btn-default {
  color: #f4921e;
  background-color: #3e6b85;
  border-color: #858585;
}
#datahack .btn-large {
  color: #f4921e;
  background-color: #3e6b85;
  border-color: #858585;
  font-size: x-large;
}
#datahack input {
  color: #3e6b85;
  background-color: #c5d2db;
  border-color: #858585;
  font-size: 21px;
  font-weight: 300;
}
#datahack .col-md-6 {
  padding-left: 0;
}
#datahack .dh-brand {
  margin-right: 1em;
}
